APPOINTMENT_SERVICE_PORT=3003
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@YOUR_APPOINTMENT_DB_HOST:5432/postgres
DATABASE_SSL=true
DOCTOR_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3001
NOTIFICATION_SERVICE_URL=http://localhost:3005
LOG_LEVEL=info
